# Dependencies
node_modules/
.expo/
.env/

# Expo
.expo/
dist/
web-build/

# EAS
.eas/

# Android
android/
*.apk
*.aab
*.keystore

# iOS
ios/
*.ipa

# Project files to ignore
supabase/

# Environment variables
.env

# System files
.DS_Store
Thumbs.db

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*
